@import "tailwindcss";

[data-theme="light"] {
  --background: #fefdfd;
  --foreground: #282828;
}

[data-theme="dark"] {
  --background: #141415;
  --foreground: #eeeeee;
}

@theme {
  --breakpoint-md: 900px
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 200px;
  height: 100vh;
  padding-top: 72px;
}

.selected {
  opacity: 0.5;
}

p {
  font-family: var(--font-sen);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 120%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.alexandria {
  font-family: var(--font-alexandria);
}

b {
  font-family: var(--font-sen);
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 100%;
  pointer-events: none;
}

h1 {
  font-family: var(--font-alexandria);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  pointer-events: none;
}

a {
  font-family: var(--font-alexandria);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  transition: letter-spacing 0.2s ease-out 
}

a:hover {
  letter-spacing: 2px;
}

h2 {
  font-family: var(--font-sen);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

h3 {
  font-family: var(--font-alexandria);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}



h4 {
  font-family: var(--font-alexandria);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

h5 {
  font-family: var(--font-alexandria);
  font-size: 64px;
  font-weight: 200;
  letter-spacing: 0%;
  line-height: 100%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

h6 {
  font-family: var(--font-alexandria);
  font-size: 200px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 100%;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

@media only screen and (max-width: 900px) {
  p {
    font-size: 14px
  }
  h3 {
    font-size: 24px
  }
  h2 {
    font-size: 20px
  }
  h5 {
    font-size: 48px;
  }
  h6 {
    font-size: 150px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}


.animate-class {
  animation: 0.5s ease-in appear;
}